body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Roboto;
}

header {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #0d3934;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  display: flex;
}

.nav-link {
  margin-right: 100px;
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.swiper {
  max-width: 1200px;
  width: 100%;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.swiper-slide {
  max-width: 100vw;
  width: 100%;
  position: relative;
}

.swiper-slide-image {
  max-width: 100vw;
  width: 100%;
}

.over-slide {
  position: absolute;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #fff;
}

.swiper-scrollbar-drag {
  background: #fff !important;
}

footer {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #0d3934;
  height: 100px;
}
